.header{
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    margin-top: 0;
    padding-bottom: 1vh;
    border-bottom: 0.3vh solid #000;
    flex-wrap: wrap;
}
.logo{
    font-family: 'Impact', sans-serif;
    font-size: 6vh;
    font-weight: lighter;
    padding-left: 3vh;
    margin-right: 0vh;
}
.moore{
    font-family: 'Impact', sans-serif;
    font-size: 6vh;
    font-weight: lighter;
    padding-left: 3vh;
    color: #a87b05;
    margin-left: 0vh;
    padding-left: 1vh;
}
.links{
    padding-left: 25%;
    padding-right: 25%;
}
.email{
    padding-right: 1vh;
}
.linkEmail{
    color: #000;    
    margin-left: 0%;
    text-decoration: none;
}
a{
    padding: 2vh;
}


.legenda{
    font-family: 'Impact', sans-serif;
    font-size: 2.2vh;
    font-weight: lighter;
    margin-left: 0.5vh;
}
.imagem {
    text-align: center; /* Centraliza a imagem dentro da div */
}
.imagem img {
    width: 100%; /* Faz a imagem ocupar toda a largura do seu contêiner */
    height: auto; /* Mantém a proporção da imagem */
}
.botao{
    border-radius: 1vh;
    padding: 1.5vh;
    margin-left: 3vh;
    background-color: #ffff;
}
.botao:hover{
    background-color: #0b0b0b;
    color: #ffff;

}
.textoIndex{
    font-family: 'Impact', sans-serif;
    font-size: 9vh;
    font-weight: lighter;
    padding-left: 3vh;
    margin-top: 20%;
}
.noticia{
    color: #000;    
    margin-left: 0%;
}
.noticiaBaixo{
    margin-left: 26vh;
}
.marginNoticia{
    margin-bottom: 0;
}
.imagemBottom{
    width: 80%;
}

/*Media Query*/
@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Coloca os itens em coluna */
        text-align: left; /* Alinha o texto à esquerda */
    }
    .logo{
        font-size: 4vh;
        text-align: center;
    }
    .moore{
        font-size: 4vh;
        text-align: center;
    }
    .email {
        text-align: right; /* Alinha o email à direita */
        padding-right: 5%; /* Ajusta o padding para telas menores */
    }
    .textoIndex{
        font-size: 7vh;
        margin-top: 10%;
        margin-bottom: 20%;
    }
    .noticiaBaixo{
        margin-left: 0vh;
    }
    .links{
        padding-left: 10%;
        padding-right: 10%;
    }
    .marginNoticia{
        margin-bottom: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .imagemBottom{
        width: 100%;
        
    }
    
}

@media (min-width: 768px) {
    .imagem img, .imagemBottom {
        width: 20vw; /* Define uma largura relativa ao tamanho da viewport */
        height: 20vw; /* Define uma altura relativa ao tamanho da viewport */
        object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
    }
}